body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
/*  border-bottom: 1px solid #ddd;*/
  font-size: 2.5em;
  font-weight: bold;
/*  margin: 0 0 15px;*/
  padding: 0;
}

h2 {
/*  border-bottom: 1px solid #eee;*/
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.about {
  
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.comment {
   
   background-color: rgba(150, 150, 150, 0.1);
   border-radius: 10px;
   border-width: 1px;
   border-style: dashed;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   
}

.subComment {
   
   border-width: 1px;
   border-style: dashed;
   border-color: lightgray;
   background-color: rgba(150, 150, 150, 0.1);
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   
}

.header {
   
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   border-color: yellow;
   border-radius: 0px;
   
}

.picture {
   
   margin-bottom: 10px;
   margin-top: 10px;
   width: 150px;
   border-radius: 5px;
   border-width: 1px;
   border-style: dotted;
   
}
